First Project Practice

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = ('https://en.wikipedia.org/wiki/List_of_countries_by_traffic-related_death_rate')

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
table = soup.find('table')

header = table.find('tr')

In [4]:
headerTitles = [title.text.split() for title in header]
headerTitles = [titles for titles in headerTitles if titles] #remove empty
flat_headerTitles = [item for sublist in headerTitles for item in sublist] #ipagawas ang array himoon siyag list

combined_header = ''
new_header=[]

for item in flat_headerTitles:
    if item =='per1':
        combined_header+=item
    elif item =='billionvehicle-km[8]':
        combined_header+=item
    else:
        if combined_header:
            new_header.append(combined_header)  # Append combined header before adding new item
            combined_header = ""  # Reset combined header for next iteration
        new_header.append(item)  # Append the current item

# Append any remaining combined header
if combined_header:
    new_header.append(combined_header)

print(new_header)

['Country/region', 'Continent', 'per100,000inhabitants[7][1]', 'per1billionvehicle-km[8]', 'Total[a][7][1]', 'Date[b]']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(columns=new_header)
df

Empty DataFrame
Columns: [Country/region, Continent, per100,000inhabitants[7][1], per1billionvehicle-km[8], Total[a][7][1], Date[b]]
Index: []

In [7]:
columnData = table.find_all('tr')

for row in columnData[1:]:
    rowData = row.find_all('td')
    indivRowData = [data.text.split() for data in rowData]

    lenght = len(df)
    df.loc[lenght] =indivRowData

df

,Country/region,Continent,"per100,000inhabitants[7][1]",per1billionvehicle-km[8],Total[a][7][1],Date[b]
0,[Global],[],[16.7],[],"[1,282,150]",[2019]
1,[Africa],[],[27.2],[],"[297,087]",[2019]
2,"[Eastern, Mediterranean]",[],[17.8],[],"[126,958]",[2019]
3,"[Western, Pacific]",[],[16.4],[],"[317,393]",[2019]
4,"[Southeast, Asia]",[],[15.8],[],"[317,069]",[2019]
...,...,...,...,...,...,...
193,[Venezuela],"[South, America]",[39.0],[],"[11,127]",[2019]
194,[Vietnam],[Asia],[30.6],[],"[29,475]",[2019]
195,[Yemen],[Asia],[29.4],[],"[8,561]",[2019]
196,[Zambia],[Africa],[20.5],[],"[3,654]",[2019]
197,[Zimbabwe],[Africa],[41.2],[],"[6,037]",[2019]

In [8]:
df.to_csv(r"C:\Users\HUAWEI\Desktop\WebScraping Project\DeatRate.csv")